<div class="recipe" data-name="{{this.name}}">
    <h1 class="recipe-title"><a href="{{this.recipeURL}}" target="_blank">{{name}}</a></h1>
        <div class="recipe-contents">
            <div class="recipe-image-container">
                <img src="{{this.photoURL}}" alt="hamburger">
            </div>
            <div class="recipe-ingredients-container">
                {{#each ingredients}}
                    <li data-ingredient="{{this.name}}">{{this.name}}</li>
                {{/each}}
            </div>
        </div>
</div>
