<div class="recipe" data-name="{{name}}">
    <h1 class="recipe-title"><a href="{{recipeURL}}" target="_blank">{{name}}</a></h1>
        <div class="recipe-contents">
            <div class="recipe-image-container">
                <img src="{{photoURL}}" alt="hamburger">
            </div>
            <div class="recipe-ingredients-container">
                {{#each ingredients}}
                    <li data-ingredient="{{ingredient}}">{{ingredient}}</li>
                {{/each}}
            </div>
        </div>
</div>
